body{
    background-color: rgb(231, 227, 227);
    color: rgb(0, 0, 0);
    text-align: center;
}


header{
    display: block;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: rgb(231, 227, 227);
    line-height: 10px;
}

img{
width: 230px;
}

h3{
    background-color: darkgrey;
    line height: 25px;
}

.destaque{
    font-weight: bolder;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
    text-align: left;
}

.center{
    text-align: center;
}

div{
    border-bottom: 1px black dotted;
}

h2{
    background-color: rgb(176, 198, 199);
    line-height: 21px;
}

.endereço{
    font-size: small;
}
