body{
line-height: 1px;
background-color: rgb(243, 237, 237);
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

header{
    line-height: 10px;
text-align: center;
border-bottom: 1px black dotted;}

.negrito{
font-weight: bold;}

.irmao{
padding-bottom: 10px;
font-weight: bold;
text-decoration: underline;}

.datas{
padding: 10px;
border-bottom: 1px black dotted;
text-align: left;
}


img{
padding: 20px;
height: 160px;}

.span{
width: 50px;
height: 50px;
border-radius: 50%;}


